<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
  //타임리프 값을 자바스크립트에 전달하려면 가령 [[${user.username}]] 얘는 문자니까 "[[${user.username}]]" 로 변경해야하고 등 귀찮다.

  var username = "[[${user.username}]]";
  var age = [[${user.age}]];

  //자바스크립트 안에 내추럴 템플릿
  var username2 = /*[[${user.username}]]*/ "test username"; // "/*[[${user.username}]]*/ test username" 그냥 이렇게 string으로 출력된다.

  //객체, 객체의 toString()이 호출돼서 자바스크립트가 제대로 동작하지 않는다.
  var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
  var username = [[${user.username}]]; //"" 없이도 문자 처리를 타임리프가 알아서 해준다.
  var age = [[${user.age}]];

  //자바스크립트 안에 내추럴 템플릿
  var username2 = /*[[${user.username}]]*/ "test username"; // /**/ 안의 값으로 랜더링 된다.

  //객체, 객체를 JSON으로 변환하여 랜더링한다. 결과 : {"username" : "UserA", "age" : 10};
  var user = [[${user}]];
</script>
</body>
</html>