<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>예시</h1>
<span th:text="${data}">html data</span>
<h1>1. 표준 HTML 주석</h1>
<!-- 랜더링 시 주석 보인다.
<span th:text="${data}">html data</span>
-->
<h1>2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] 타임리프 자체가 주석으로 이를 인정, 랜더링해도 안 보인다. */-->
<!--/*-->
<span th:text="${data}">html data</span>
<!--*/-->


<h1>3. 타임리프 프로토타입 주석</h1>
<!--/*/  html 주석과 타임리프 주석이 합쳐진 모양새, 웹 브라우저에서 타임리프로 랜더링될 때만 보여준다. (브라우저에 파일 자체로 여는 경우 안 보여진다)
<span th:text="${data}">html data</span>
/*/-->
</body>
</html>